body{
    padding: 1rem;
}

.div-img {
    height: 10rem;
}

.div-img img {
    max-width: 100%;
    /* Ajustar el ancho máximo de la imagen al ancho del div */
    max-height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}

.btn-danger {
    margin: 0.2rem;
}



.img-select {
    width: 70px;
    height: 70px;
    margin: 0.3rem;
    object-fit: cover;

}


.contenedor-imagenes {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0.2rem;
    
}

.contenedor-imagenes img,
.contenedor-imagenes svg {
    position: absolute;
    top: 0;
    right: 0;
}

.contenedor-imagenes svg {
    z-index: 1;
    color: rgb(218, 6, 6);
}



